<!DOCTYPE html>
<html>
  <head>
    <title>おうちディスプレイ</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/paper.css' />
    <!-- production version, optimized for size and speed -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>
  <body>
    <div class='frame'>
      <div class='col border-5 border-dashed banner'>
        <span class='label' id='data'><%= date %> Tokyo <img src="/images/<%= wether %>.png" class='no-responsive no-border weather-icon' /> {{ temperature }}℃</span>
      </div>
      <div class='list'>
        <div class="card list-card">
          <div class="card-body">
            <h3 class="card-title">買い物リスト</h3>
            <ul>
              <li class="list-item">ヨーグルト</li>
              <li class="list-item">キッチンペーパー</li>
              <li class="list-item">牛乳</li>
              <li class="list-item">食パン</li>
            </ul>
          </div>
        </div>
        <div class="card list-card">
          <div class="card-body">
            <h3 class="card-title">今日の予定</h3>
            <ul>
              <li class="list-item">お出かけ</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io.connect('http://localhost:3000');
      let app = new Vue({
          el: '#data',
          data: {
            temperature: <%= temperature %>
          }
      });
      socket.on('subscribe', function (data) {
        app.temperature = data['temperature'];
      });
    </script>
</html>
