<!DOCTYPE html>
<html>
  <head>
    <title>おうちディスプレイ</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/paper.css' />
    <!-- production version, optimized for size and speed -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.min.js"></script>
  </head>
  <body>
    <div class='frame'>
      <div class='col border-5 border-dashed banner'>
        <span id='temperature'class='label'><%= date %> Tokyo {{ value }}℃</span>
        <img id='weather-icon' :src=src class='no-responsive no-border weather-icon' />
      </div>
      <div class='list'>
        <div class="card list-card">
          <div class="card-body">
            <h3 class="card-title">買い物リスト(Coming Soon..)</h3>
            <ul>
              <li class="list-item">ヨーグルト</li>
              <li class="list-item">キッチンペーパー</li>
              <li class="list-item">牛乳</li>
              <li class="list-item">食パン</li>
            </ul>
          </div>
        </div>
        <div class="card list-card">
          <div class="card-body">
            <h3 class="card-title">今日の予定(Coming Soon..)</h3>
            <ul>
              <li class="list-item">宅配便</li>
              <li class="list-item">飲み会</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io.connect('<%= socketHost %>');
      let icon = new Vue({
          el: '#weather-icon',
          data: {
            src: "<%= icon %>"
          }
      });
      let temperature = new Vue({
          el: '#temperature',
          data: {
            value: <%= temperature %>,
          }
      });
      socket.on('subscribe', function (data) {
        icon.src = data['icon'];
        temperature.value = data['temperature'];
      });
    </script>
</html>
