<!DOCTYPE html>
<html>
  <head>
    <title>おうちディスプレイ</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/paper.css' />
    <!-- production version, optimized for size and speed -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.min.js"></script>
    <script type="text/javascript" src="javascripts/date-utils.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
      var socketHost = '<%= socketHost%>';
    </script>
    <script src="./bundle.js"></script>
  </head>
  <body>
    <div class='frame'>
      <div class='col border-5 border-dashed banner' id="banner">
        <clock></clock>
        <weather></weather>
      </div>
      <div class='list'>
        <div class="card list-card">
          <div class="card-body">
            <h3 class="card-title">買い物リスト(Coming Soon..)</h3>
            <ul>
              <li class="list-item">ヨーグルト</li>
              <li class="list-item">キッチンペーパー</li>
              <li class="list-item">牛乳</li>
              <li class="list-item">食パン</li>
            </ul>
          </div>
        </div>
        <div class="card list-card">
          <div class="card-body">
            <h3 class="card-title">今日の予定(Coming Soon..)</h3>
            <ul>
              <li class="list-item">宅配便</li>
              <li class="list-item">飲み会</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
